# ========================
# Gradle
# ========================
.gradle/
build/

# ========================
# IntelliJ IDEA
# ========================
.idea/
*.iml
out/

# ========================
# Logs
# ========================
*.log

# ========================
# OS files
# ========================
.DS_Store
Thumbs.db

# ========================
# JVM / Compiled files
# ========================
*.class

# ========================
# Test reports
# ========================
**/test-results/
**/reports/